@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Alejandro Bertello<br />
    Lima, 910103845<br />
</address>

<address>
    <strong>Principal:</strong>   <a href="mailto:manrrique.my@gmail.com">manrrique.my@gmail.com</a><br />
    <strong>Secundario:</strong> <a href="mailto:meyaman_123@hotmail.com">meyaman_123@hotmail.com</a>
</address>